<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mapper.hboardmapper">
   
   <!-- 게시판의 모든 게시글을 번호 내림차순 정렬하여 가져오는 쿼리문(최신글부터 보여지도록 내림차순한다.) -->
   <select id="getAllHBoard" resultType="com.miniproj.model.HBoardVO">
      SELECT * FROM hboard ORDER BY boardNo DESC
   </select>
   
   <!-- 새로운 게시글을 저장하는 쿼리문 -->
   <insert id="saveNewBoard">
      INSERT INTO hboard(title, content, writer) VALUES(#{title}, #{content}, #{writer})
   </insert>
   
   <!-- 저장된 글번호를 가져오는 쿼리문 -->
   <select id="getMaxNo" resultType="int">
      SELECT max(boardNo) FROM hboard
   </select>
   
   <!-- 업로드된 첨부파일을 저장하는 쿼리문 -->
   <insert id="saveUpFile">
      INSERT INTO boardupfiles(newFileName, originFileName, thumbFileName, ext, size, boardNo, base64Img) 
      VALUES(#{newFileName}, #{originFileName}, #{thumbFileName}, #{ext}, #{size}, #{boardNo}, #{base64Img})
   </insert>
   
   <!--  -->
   
   
</mapper>