<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
<typeAliases>
         <typeAlias alias="HBoardVO" type="com.miniproj.model.HBoardVO"/>
      </typeAliases>   <!-- 별칭 그리고 이곳은 마이바티스 환경 설정 하는곳-->
  </configuration>